@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;

	-webkit-text-size-adjust: 100%;
}

q, blockquote {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote {
    color: #616161;
    font-family: Georgia, serif;
    font-size: 50%;
    font-style: italic;

    line-height: 2;

    margin: 0em 0;
    padding: 0.25em 40px;

    position: relative;
    quotes: "\201C" "\201D";
/*    width: 500px;*/
    margin: 0 auto;
}
blockquote:before, blockquote:after {
    color: #7A7A7A;
    display: block;
    font-size: 80px;
    position: absolute;
}
blockquote:before {
    content: open-quote;
    left: -10px;
    top: -40px;
}
blockquote:after {
    content: close-quote;
    bottom: -40px;
    right: 40px;
}
blockquote footer {
	margin-bottom: 2em;
}

/*blockquote cite{
	font-family: Georgia,serif;
	font-style: italic;
		font-size: 80%;

	color: #7A7A7A;
    position: absolute;
    right: 80px;
    bottom: -25px;
    text-align: right;
}*/


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.navbar{
	background-color: black;
    width: 100%;

}
.navbar-inverse .nav-link, .navbar-inverse .navbar-brand{
	color: #f4f4f4;
	cursor: pointer;
}

.navbar-inverse .navbar-brand {
	text-align: center;
	border-radius: 20px;
	width: 5%;
	padding: 3px;
	margin-left: 10px;
}

.navbar-inverse .navbar-brand:hover {
	background: #f4f4f4;
	color: black;
	width: 5%;
}

.navbar-inverse  .nav-link{
	border-radius: 20px;
	margin-right: 1em !important;
}
.navbar-inverse  .nav-link:hover{
	background: #f4f4f4;
	color: black;
}
.navbar-inverse .navbar-collapse{
	text-align: center;
 	justify-content: flex-end;
 	align-content: center;
}
.navbar-inverse .navbar-toggler{
  	background:black !important;
}
.navbar-inverse .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*landing page*/

#intro {
	height: 100vh;
	/*width: 100%;*/
	margin: auto;
	/*background-image: url('../img/splash.jpg') ;*/
	background-color: black;
	/*display: table;*/
	top: 0;
	background-size: cover;

	position: relative;

	display: flex;
  	align-items: center;
}


.leftbio {
    top: 30%;
    margin: 0px;
	padding: 1em;

    -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 4s; /* Firefox < 16 */
	-ms-animation: fadein 4s; /* Internet Explorer */
	 -o-animation: fadein 4s; /* Opera < 12.1 */
	    animation: fadein 4s;
}

.rightbio {
	height: auto;
	margin: auto;
	/*margin-bottom: 50px;*/
	text-align: center;
}

.rightbio h1 {
	padding: 0;
	margin: 10px;
	font-family: 'Raleway', sans-serif;
	color: #F9F3F4;
	text-shadow: 0px 0px 100 #000;
	font-size: 200%; /*of default font size approx 16px*/
}

.profilepic img{
	max-width: 100%; /*ensures img is responsive! dont use width!*/
  	height: auto;

	margin: 5px auto;

	border-radius: 50%;
	border: 5px solid #F9F3F4;
}

/*mid section*/

.mid {
	/*background-color: black;*/
	overflow: hidden; /*if inner padding breaks out, include in the parent div*/
	min-height: 50%;

	margin: 0 auto;
	padding: 0;

	display: flex;
  	align-items: center;
}

.mid h1{
	margin: 0 auto;
	padding: 0;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 400%;
    font-weight: bold;
}

.mid .skills{
	/*border: 5px solid black;*/
}

.mid .row {
	/*border: 5px solid black;*/
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Raleway', sans-serif;
}

.mid .column {
	margin: 20px auto;
	padding: 0;

	text-align: center;
    width: 100%;
}

.mid .column ul{
	margin: auto;
	padding: 0;

	display: inline-block; /*center list in column*/
	list-style-type: none; /*remove bullets*/
	text-align: left;
}

/* Clear floats after the columns */
.mid .row:after {
    content: "";
    clear: both;
}

.mid p {
	margin: 1% 5%;
	padding: 0;

	font-size: 100%;
	line-height: 210%;
	text-align: justify; 
	font-family: sans-serif;
}

/*mid2 section*/

.mid2 {
	background-color: black;
	/*overflow: hidden; if inner padding breaks out, include in the parent div*/
	min-height: 50vh;
	/*width: 100%;*/
	/*margin: auto;*/
	/*padding: 0;*/

  	display: flex;
  	align-items: center;
}

.mid2 p {
	/*margin: 10px;*/
	/*padding: 0;*/
	/*width: 60%;*/

	color: #F9F3F4;
	font-size: 100%;
	line-height: 210%;
	/*text-align: justify; */
	font-family: sans-serif;
}

/*end section*/

.end {
	/*background-color: black;*/
	overflow: hidden; /*if inner padding breaks out, include in the parent div*/
	min-height: 50vh;
	width: 100%;
	margin: 0 auto;
	padding: 0;

	display: flex;
  	align-items: center;
}

.end p {
	margin: auto;
	padding: 0;
	width: 60%;

	font-size: 100%;
	line-height: 210%;
	text-align: justify; 
	font-family: sans-serif;
}

@media screen and (max-width: 768px) { /*ipad*/
	blockquote p {
    	font-size: 0.5em !important;
    	margin-bottom: 2px;
	}
    blockquote:before {
        left: -5px;
    }
    blockquote:after {
	    content: close-quote;
	    bottom: -20px;
	    right: 20px;
	}
	blockquote cite {
		font-size: 0.6em !important;
	}
	.navbar-inverse .navbar-brand:hover {
		width: 20%;
	}
	.rightbio {
		width:50%;
		margin-top: 20px;
	}
	.rightbio h1 {
		padding: 0;
		margin: 1px;
		font-size: 110%; /*of default font size approx 16px*/
	}
	.leftbio {
		margin-bottom: 5px;
	}
}

@media screen and (max-width: 768px) and (orientation: landscape) { /*ipad*/
	blockquote p {
    	font-size: 0.5em !important;
    	margin-bottom: 2px;
	}
    blockquote:before {
        left: -5px;
    }
    blockquote:after {
	    content: close-quote;
	    bottom: -20px;
	    right: 20px;
	}
	blockquote cite {
		font-size: 0.6em !important;
	}
	.navbar-inverse .navbar-brand:hover {
		width: 10%;
	}
	.rightbio {
		width:22%;
		margin-top: 60px;
	}
	.rightbio h1 {
		padding: 0;
		margin: 1px;
		font-size: 110%; /*of default font size approx 16px*/
	}
	.leftbio {
		margin-bottom: 5px;
	}
}
